@charset "utf-8";
@import url("framework.css");

.imgherois {
    max-width: 60%;
    height: auto;
}
.porcentagem{color:#000!important;background-color:#f1f1f1!important}
.porc{border-radius:4px}
.por{padding:0.01em 16px}
.cor{color:#fff!important;background-color:#2196F3!important}
.row0, .row0 a{}
.row1{border-bottom:1px solid;}
.row2, .row2 a{}
.row3, .row3 a{}
.row4, .row4 a{}
.row5, .row5 a{}

#header #logo{margin:30px 0 0 0;}
#header #logo h1{margin:0; padding:0; font-size:22px; text-transform:uppercase;}


#pageintro{padding:200px 0;}

#pageintro article{display:block; max-width:75%; margin:0 auto; text-align:center;}
#pageintro article *{word-wrap:break-word;}
#pageintro .heading{margin-bottom:20px; font-size:3rem;}
#pageintro p:first-of-type{display:block; max-width:75%; margin:0 auto 30px;}
#pageintro footer{margin-top:80px;}


/* Click to Action
--------------------------------------------------------------------------------------------------------------- */
.cta{padding:50px 0;}

.cta > :first-child{margin-top:10px;}
.cta > :last-child{margin-bottom:0;}/* Used when elements stack in smaller viewports */


/* Content Area
--------------------------------------------------------------------------------------------------------------- */
.container{padding:80px 0;}

/* Content */
.container .content{}

.sectiontitle{display:block; margin-bottom:80px;}
.sectiontitle *{margin:0;}

#testimonials{}
#testimonials > li:last-child, #testimonials > li:last-child blockquote{margin-bottom:0;}/* Used when elements stack in smaller viewports */
#testimonials figure{margin-bottom:20px; text-align:center;}
#testimonials figure img{margin-bottom:20px;}
#testimonials figure figcaption{}
#testimonials figure figcaption *{display:block; margin:0; padding:0; line-height:1;}
#testimonials figure figcaption strong{margin-bottom:5px;}
#testimonials figure figcaption br{display:none;}
#testimonials figure figcaption em{font-size:.8rem;}
#testimonials blockquote{display:block; position:relative; width:100%; margin:0 0 25px 0; padding:30px; z-index:1;}
#testimonials blockquote::before{display:block; position:absolute; bottom:-25px; left:50%; width:50px; height:50px; line-height:50px; margin:0 0 0 -25px; font-size:22px; content:"\f10d"; text-align:center; border-radius:50%;}
#testimonials blockquote::after{display:none;}

.latest{}
.latest article{}
.latest article figure{display:block; position:relative; margin-bottom:30px;}
.latest article figure img{}
.latest article figure figcaption{position:absolute; bottom:10px; left:10px; width:50px;}
.latest article figure figcaption *{display:block; margin:0; padding:0; text-align:center; text-transform:uppercase; font-style:normal; line-height:1;}
.latest article figure figcaption time{width:100%;}
.latest article figure figcaption time strong{padding:12px 0; font-size:18px;}
.latest article figure figcaption time em{padding:8px 0;}
.latest article .txtwrap{}
.latest article .txtwrap .heading{margin:0; font-size:1.2rem;}
.latest article .txtwrap .meta{}
.latest article .txtwrap .meta li{display:inline-block; font-size:.8rem;}
.latest article .txtwrap .meta li::after{margin-left:5px; content:"/";}
.latest article .txtwrap .meta li:last-child::after{margin:0; content:"";}
.latest article .txtwrap p{}
.latest article .txtwrap footer{}

/* Copyright
--------------------------------------------------------------------------------------------------------------- */
#copyright{padding:20px 0;}
#copyright *{margin:0; padding:0;}

/* Transition Fade
--------------------------------------------------------------------------------------------------------------- */
*, *::before, *::after{transition:all .3s ease-in-out;}
#mainav form *{transition:none !important;}

/* Top Navigation */
#mainav{}
#mainav ul{text-transform:uppercase;}
#mainav ul ul{z-index:9999; position:absolute; width:180px; text-transform:none;}
#mainav ul ul ul{left:180px; top:0;}
#mainav li{display:inline-block; position:relative; margin:0 15px 0 0; padding:0;}
#mainav li:last-child{margin-right:0;}
#mainav li li{width:100%; margin:0;}
#mainav li a{display:block; padding:30px 0;}
#mainav li li a{border:solid; border-width:0 0 1px 0;}
#mainav .drop{padding-left:15px;}
#mainav li li a, #mainav li li .drop{display:block; margin:0; padding:10px 15px;}
#mainav .drop::after, #mainav li li .drop::after{content:"\f0d7";}
#mainav .drop::after{top:35px; left:5px;}
#mainav li li .drop::after{top:15px; left:5px;}
#mainav ul ul{visibility:hidden; opacity:0;}
#mainav ul li:hover > ul{visibility:visible; opacity:1;}

#mainav form{display:none; margin:0; padding:0;}
#mainav form select, #mainav form select option{display:block; cursor:pointer; outline:none;}
#mainav form select{width:100%; padding:5px; border:1px solid;}
#mainav form select option{margin:5px; padding:0; border:none;}

/* Breadcrumb */
#breadcrumb{padding:120px 0 15px 0;}
#breadcrumb ul{margin:0; padding:0; list-style:none; text-transform:uppercase;}
#breadcrumb li{display:inline-block; margin:0 6px 0 0; padding:0;}
#breadcrumb li a{display:block; position:relative; margin:0; padding:0 12px 0 0; font-size:12px;}
#breadcrumb li a::after{top:3px; right:0; content:"\f101";}
#breadcrumb li:last-child a{margin:0; padding:0;}
#breadcrumb li:last-child a::after{display:none;}

/* Back to Top */
#backtotop{z-index:999; display:inline-block; position:fixed; visibility:hidden; bottom:20px; right:20px; width:36px; height:36px; line-height:36px; font-size:16px; text-align:center; opacity:.2;}
#backtotop i{display:block; width:100%; height:100%; line-height:inherit;}
#backtotop.visible{visibility:visible; opacity:.5;}
#backtotop:hover{opacity:1;}

/* Tables
--------------------------------------------------------------------------------------------------------------- */
table, th, td{border:1px solid; border-collapse:collapse; vertical-align:top;}
table{width:100%; margin-bottom:15px;}
th, td{padding:5px 70.5px;}
td{border-width:0 1px;}
.tabelaum{
	float: left;

}
.tabeladois{
	float: left;
}
.tabelatres{
	float: left;
}


body{color:#7F7F7F; background-color:#141414;}
a{color:#6AAEBF;}
input:focus, textarea:focus, *:required:focus{border-color:#6AAEBF;}
.overlay::after{color:inherit; background-color:rgba(0,0,0,.55);}
.coloured.overlay::after{background-color:rgba(49,101,115,.55);/* #316573 */}

.btn, .btn.inverse:hover, a .icon.fa, a.inverse:hover .icon.fa{color:#FFFFFF; background-color:#6AAEBF; border-color:#6AAEBF;}
.btn:hover, .btn.inverse, a:hover .icon.fa, a.inverse .icon.fa{color:inherit; background-color:transparent; border-color:inherit;}


/* Rows */
.row0, .row0 a{}
.row1{color:#FFFFFF; border-color:rgba(255,255,255,.3);}
.row2{color:#474747; background-color:#F7F7F7;}
.row3{color:#474747; background-color:#FFFFFF;}
.row4{color:#CBCBCB; background-color:#252525;}
.row5, .row5 a{color:#CBCBCB; background-color:#141414;}

#header #logo a{color:inherit;}

/* Navigation */
#mainav li a{color:inherit;}
#mainav .active a, #mainav a:hover, #mainav li:hover > a{color:#6AAEBF; background-color:inherit;}
#mainav li li a, #mainav .active li a{color:#FFFFFF; background-color:rgba(0,0,0,.6); border-color:rgba(0,0,0,.6);}
#mainav li li:hover > a, #mainav .active .active > a{color:#FFFFFF; background-color:#6AAEBF;}
#mainav form select{color:#FFFFFF; background-color:#000000; border-color:rgba(255,255,255,.3);}

#backtotop{color:#FFFFFF; background-color:#6AAEBF;}

/* Tables + Comments */
table, th, td, #comments .avatar, #comments input {border-color:#D7D7D7;}
#comments input:focus, #comments *:required:focus{border-color:#6AAEBF;}
th{color:#FFFFFF; background-color:#373737;}
tr, #comments li, #comments input[type="submit"], #comments input[type="reset"]{color:inherit; background-color:#FBFBFB;}
tr:nth-child(even), #comments li:nth-child(even){color:inherit; background-color:#F7F7F7;}
table a, #comments a{background-color:inherit;}


@-ms-viewport{width:device-width;}


@media screen and (min-width:978px){
	.hoc{max-width:978px;}
}

@media screen and (max-width:900px){
	.table-action thead {
  display: none;
}
.table-action td:not(:first-child) {
  display: block;
}	.table-action tr {
  border-bottom: 1px solid #dddddd;
}
.table-action td {
  border: 0;
}
	.hoc{max-width:90%;}

	#header{padding:30px 0;}
	#header #logo{margin-top:3px;}

	#mainav{}
	#mainav ul{display:none;}
	#mainav form{display:block;}

	#breadcrumb{}

	.container{}
	#comments input[type="reset"]{margin-top:10px;}
	.pagination li{display:inline-block; margin:0 5px 5px 0;}

	#footer{}

	#copyright{}
	#copyright p:first-of-type{margin-bottom:10px;}
}


@media screen and (max-width:750px){
	.table-action thead {
  display: none;
}
.table-action td:not(:first-child) {
  display: block;
}	.table-action tr {
  border-bottom: 1px solid #dddddd;
}
.table-action td {
  border: 0;
}
	.imgl, .imgr{display:inline-block; float:none; margin:0 0 10px 0;}
	.fl_left, .fl_right{display:block; float:none;}
	.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:block; float:none; width:auto; margin:0 0 30px 0; padding:0;}

	#header{text-align:center;}
	#header #logo{margin:0 0 15px 0;}

	#testimonials blockquote{margin-bottom:50px;}

	.cta > :first-child{margin-top:0;}

	#footer{padding-bottom:50px;}/* Not neccessary - just looks better */
}


@media screen and (max-width:650px){
.table-action thead {
  display: none;
}
.table-action td:not(:first-child) {
  display: block;
}	.table-action tr {
  border-bottom: 2px solid #dddddd;
}
.table-action td {
  border: 0;
}

	.inline li{display:block; margin-bottom:10px;}
	.pushright li{margin-right:0;}

	.font-x2{font-size:1.4rem;}
	.font-x3{font-size:1.6rem;}

	#pageintro article, #pageintro p:first-of-type{max-width:none; width:100%;}
	#pageintro .heading{font-size:1.6rem;}

	.hoc.split{max-width:none; width:100%;}
	.split section{float:none; width:100%; padding:10% 5%;}
}

.colapse {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .colapse:hover {
    background-color: #555;
}

#content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
